.images-slider {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 90, 90);
}

.loader {
  text-align: center;
}

.images-slider-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.images {
  width: 400px;
}

.left-slider,
.right-slider {
  cursor: pointer;
  border: 2px solid gray;
  margin: 5px;
}

.slide-dots-container {
  position: absolute;
  display: flex;
  left: 100px;
  bottom: 0px;
}

.slide-btn {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  padding: 0;
  margin: 5px;
  background-color: wheat;
  cursor: pointer;
}

.active-slide {
  background-color: gray;
}
