.products-container {
  background-color: rgb(56, 79, 209);
  min-height: 100vh;
  padding: 15px 10px;
}

.title {
  color: white;
}

.products {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  align-content: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  text-align: center;
  box-sizing: border-box;
}

.product-container {
  flex: 0 1 10%;
  cursor: pointer;
}

.product-container img {
  width: 200px;
}

.product-container:hover {
  transform: scale(1.07);
}

.load-btn {
  margin: 10px;
  background-color: lightcyan;
  padding: 10px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid rgb(180, 180, 180);
}

.btn-container {
  display: flex;
  justify-content: center;
}
